* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #de968d;
  --secondary-bg: #27252a;
  --text-color: white;
}
.custom_container1520 {
  max-width: 1544px !important;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.common-hdr {
  color: var(--primary-color);
}

.common-sub-hdr {
  font-size: 50px;
  font-family: "Marcellous", sans-serif;
  text-align: center;
  margin-top: 20px;
}
@font-face {
  font-family: "Marcellus", serif;
  src: url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");

  font-family: "Manrope", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
}

.custom-container1420 {
  max-width: 1444px !important;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.custom-container1520 {
  max-width: 1544px !important;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.custom-container1620 {
  max-width: 1644px !important;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.hdr-top-container {
  /*btm-container*/
  max-width: 1944px;
  width: 100%;
  margin: 0 auto;
  /* background: linear-gradient(to top, #0000003d, #27252a); */
}
ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}
p {
  margin: 0;
  padding: 0;
}

.bnt {
  padding: 19px 20px 19px 32px;
  color: white;
  background: var(--primary-color);
}
/******************************************Navbar**********************************/
.nav-link {
  color: white;
}
.offcanvas {
  flex-direction: row;
}
.hdr-btm-section {
  -webkit-backdrop-filter-backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.1);
}

.hdr-top {
  background: #000;
}
.hdr-top-items {
  /* margin-left: 95px; */
  padding: 15.5px 0;
}

/********************************Banner-section**********************/

.banner-section {
  background: url("../aboutus-assets/aboutus-banner.png") no-repeat center/cover;
  min-height: 100vh;
  padding: 300px 0;
}

.banner-section {
  background: url("../aboutus-assets/aboutus-banner.png") no-repeat center/cover;
  min-height: 100vh;
  padding: 300px 0;
}
.banner-para {
  color: white;
  max-width: 846px;
  text-align: center;
  font-size: 30px;
}
.banner-cntn {
  max-width: 1024px !important;
}

.banner-section .title1 h1 {
  max-width: 928px !important;
  color: white;
  font-family: "Marcellus", sans-serif;
  margin-top: 50px;
  text-align: center;
  font-weight: 100;
}
.banner-para1 {
  font-size: 20px;
  font-family: "Manrope", sans-serif;
  text-align: center;
  color: white;
  margin-top: 30px;
}

.banner-bnt {
  margin-top: 50px;
}

/*****************************Contact-section***********************/
.contact-section {
  padding: 105px 0;
}

.contact-links {
  max-width: 438px;
  background: #f3d2ce;
  margin: 20px;
  padding: 30px 10px;
  /* opacity: 0.5; */
}
.contact-section .common-sub-hdr {
  margin-bottom: 50px;
}
.contact-hdr {
  font-size: 20px;
}
.contact-para {
  font-size: 14px;
}

.contact-map {
  max-width: 558px;
}

/***********************get-in-touch-section***************************/

.get-in-touch-section {
  padding: 105px 0;
}

.testimonial-section .testimonial-form-cntn {
  margin-left: 50px;
}
.testimonial-form-items {
  padding: 40px;
  background: white;
  border-radius: 20px;
  max-width: 637px !important;
}
.testimonial-para {
  color: grey;
}
.testimonial-bnt {
  cursor: pointer;
}
.form-hdr {
  margin-bottom: 30px;
  font-size: 30px;
  font-family: "Marcellus", sans-serif;
  max-width: 389px;
  text-align: center;
  color: var(--primary-color);
}

.get-in-touch-section form {
  box-shadow: 0 0 10px grey;
  padding: 60px 50px;
  border-radius: 5px;
}
.get-in-touch-section .common-sub-hdr {
  margin-bottom: 30px;
}
.form-control {
  /* margin: 10px; */
}
/****************************Footer-section******************/

.footer-section {
  padding: 105px 0 0 0;
  background: #27252a;
  color: white;
}

.footer-section a {
  color: white;
}
.footer-section .ftr-para {
  max-width: 326px;
  margin: 20px 0;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  color: #949197;
}
.footer-section .location-img,
.call-image {
  margin-right: 20px;
}

.footer-cntn a {
  margin-bottom: 20px;
}

.footer-social-links .links a {
  margin: 0 12.5px !important;
  padding: 0;
}

.footer-hdr-links1 {
  margin-bottom: 20px;
  font-size: 24px;
  font-family: "Marcellous", sans-serif;
}
.footer-links {
  margin-bottom: 20px;
  font-family: "Manrope", sans-serif;
}
.footer-hdr-links2 {
  font-size: 20px;
  font-family: "Manrope", sans-serif;
  margin-bottom: 20px;
}
.ftr-email {
  padding: 10px;
  width: 100%;
  margin: 20px 0;
  font-family: "Manrope", sans-serif;
}

.sub-bnt {
  text-align: center;
  background: var(--primary-color);
  padding: 20px 100px;
  font-family: "Manrope", sans-serif;
}
/***********************************Footer-btm**************************/
.footer-btm {
  padding-top: 80px;
}
.footer-btm::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  /* bottom: 0; */
  left: 0;
  right: 0;
  background: white !important;
}
.footer-btm-items {
  margin: 20px;
}

/*********************************************Media queries*******************************/
@media (max-width: 576px) {
  .treatment-cntn::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 50px;
    background: var(--primary-color);
    left: 190px !important;

    top: 30px;
  }
}

@media (max-width: 769px) {
  .treatment-section .treatment-items,
  .treatment-section .row {
    flex-direction: column;
  }

  .treatment-section .row .col-4 {
    width: 50%;
    margin-top: 20px;
  }

  .treatment-section .common-sub-hdr {
    font-size: 30px;
  }
  .treatment-items > li {
    margin-bottom: 20px;
  }
  .treatment-cntn::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 50px;
    background: var(--primary-color);
    left: 340px;

    top: 30px;
  }
}

@media screen and (max-width: 992px) {
  .navbar-nav .nav-link {
    text-align: center;
  }
  .offcanvas {
    padding-top: 200px;

    flex-direction: column;
  }

  .offcanvas.show {
    background-color: rgba(255, 255, 255, 0.1) !important;
  }

  .navbar-toggler {
    border: none;
    padding: 8px;
    position: relative;
    z-index: 9999;
    padding: 0;
    margin: 0;
    left: 1px;
  }
  .navbar-toggler:focus {
    outline: none;
    box-shadow: none;
  }
  .navbar-toggler-icon {
    height: 2px;
    width: 30px;
    background: white;
    transition: 0.5s linear;
    position: relative;
    /* opacity: 0; */
  }

  .navbar-toggler::after {
    position: absolute;
    content: "";
    background: white;
    height: 2px;
    width: 30px;
    left: 0px;
    top: 23px;
    transition: 0.5s linear;
    /* transform: rotate(45deg); */
  }
  .navbar-toggler::before {
    position: absolute;
    content: "";
    background: white;
    height: 2px;
    width: 30px;
    left: 0px;
    bottom: 18px;
    transition: 0.5s linear;
    /* transform: translateY(50px) rotate(-45deg); */
  }

  .navbar-toggler.activeshow.navbar-toggler-icon {
    transform: translateX(-20px);
    opacity: 0 !important;
  }

  .navbar-toggler.activeshow::after {
    transform: rotate(45deg);
  }

  .navbar-toggler.activeshow::before {
    transform: translateY(24px) rotate(-45deg);
  }

  .footer-section .row .col-3 {
    flex-direction: column !important;
  }
  .footer-section .col-3 {
    width: 100%;
    text-align: center;
  }
  .footer-section .ftr-para {
    margin: 0 auto;
  }

  .footer-cntn a,
  .footer-social-links {
    justify-content: center !important;
    margin: 20px 0;
  }
}

@media (max-width: 768px) {
  .get-in-touch-section .row {
    flex-direction: column;
  }
  .get-in-touch-section .row .col-6 {
    width: 70%;
    justify-content: center;
  }
  .testimonial-form {
    justify-content: center;
    margin: 0;
  }
}
