* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #de968d;
  --secondary-bg: #27252a;
  --text-color: white;
}

.common-hdr {
  color: var(--primary-color);
}
.common-sub-hdr {
  font-size: 50px;
  font-family: "Marcellous", sans-serif;
  text-align: center;
  margin-top: 20px;
}
@font-face {
  font-family: "Marcellus", serif;
  src: url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");

  font-family: "Manrope", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
}

.custom-container {
  max-width: 1744px !important;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.hdr-top-container {
  /*btm-container*/
  max-width: 1944px;
  width: 100%;
  margin: 0 auto;
  /* background: linear-gradient(to top, #0000003d, #27252a); */
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
p {
  margin: 0;
  padding: 0;
}

.bnt {
  padding: 19px 20px 19px 32px;
  color: white;
  background: var(--primary-color);
}
/********************************Navbar************************/
.nav-link {
  color: white;
}
.offcanvas {
  flex-direction: row;
}
.hdr-btm-section {
  -webkit-backdrop-filter-backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.1);
}

.hdr-top {
  background: #000;
}
.hdr-top-items {
  /* margin-left: 95px; */
  padding: 15.5px 0;
}

/********************************Banner-section**********************/

.banner-section {
  background: url("../assets/Carousel.png") no-repeat center/cover;
  min-height: 100vh;
  padding: 300px 0;
}
.banner-para {
  color: white;
  max-width: 846px;
}
.banner-cntn {
  max-width: 1024px !important;
}
.banner-section .title2 h5 {
  color: var(--primary-color);
  font-family: "Manrope", sans-serif;
}

.banner-section .title1 h1 {
  max-width: 928px !important;
  color: white;
  font-family: "Marcellus", sans-serif;
  margin-top: 50px;
}

.banner-bnt {
  margin-top: 50px;
}

/***********************************about us section****************************/

.aboutus-section {
  padding: 95px 0;
  position: relative;
}

.booknow-area {
  background: var(--secondary-bg);
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  margin-top: 30px;
  max-width: 332px !important;
}
.calling-button {
  background: var(--text-color);
  border-radius: 100px;
  padding: 10px;
  margin-left: 10px;
}
.booknow-cntn {
  padding: 18px 0;
  margin-left: 20px;
}
.border-left-color {
  background: var(--primary-color);
  height: 85px;
  width: 35px;
}
.aboutus-section .image2 {
  bottom: -46px;
  z-index: -1;
  left: 298px;
}

.image1 {
  max-width: 300px !important;
}
.about-para h2 {
  padding: 10px 0;
}

.know-more-button {
  margin-top: 30px;
}

.aboutus-hdr svg {
  margin-bottom: 20px;
}

.aboutus-hdr p {
  color: var(--primary-color);
}

.about-cntn {
  max-width: 662px !important;
}
.know-more-button {
  position: relative;
  z-index: 99;
}
.know-more-button::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background: grey;
  left: 0;
  top: -21px;
}

/*******************aboutus-section2********************/

.aboutus-section2 {
  padding: 105px 0 150px 0;
  background: url("../assets/Frame\ 58.png") no-repeat center/cover;
}

.aboutus-section2-hdr {
  font-size: 50px;
  margin-bottom: 20px;
}

.aboutus-section2-cntn {
  background: white;
  padding: 20px 20px 55px 20px;
  /* margin-left: 45px; */
}

.aboutus-section2-opening-items {
  margin-top: 60px;
}

.aboutus-section2-opening-cntn p {
  font-size: 30px;
}

.aboutus-section2-opening-cntn {
  padding: 30px 20px 30px 20px;
  color: white;
}

.opening-line {
  background: white;
  height: 100px;
  width: 2px;
}

.opening-para,
.opening-para1 {
  font-size: 18px;
}

.opening-para1 {
  color: var(--primary-color);
}

.aboutus-section2-opening-items {
  position: absolute;
  left: 30px;
  right: 30px;
}

/*****************what-else-we-do-section**************/

.what-else-we-do-section {
  padding: 200px 0 100px 0;
}
.what-else-we-do-para1 {
  font-size: 50px;
  max-width: 586px;
}

.what-else-we-do-para {
  color: var(--primary-color);
}

/*****************Explore-section**************/
.explore-section {
  padding: 95px 0;
}

/*********************************Media queries********************/
@media screen and (max-width: 992px) {
  .navbar-nav .nav-link {
    text-align: center;
  }
  .offcanvas {
    padding-top: 200px;

    flex-direction: column;
  }

  .offcanvas.show {
    background-color: rgba(255, 255, 255, 0.1) !important;
  }

  .navbar-toggler {
    border: none;
    padding: 8px;
    position: relative;
    z-index: 9999;
    padding: 0;
    margin: 0;
    left: 1px;
  }
  .navbar-toggler:focus {
    outline: none;
    box-shadow: none;
  }
  .navbar-toggler-icon {
    height: 2px;
    width: 30px;
    background: white;
    transition: 0.5s linear;
    position: relative;
  }

  .navbar-toggler::after {
    position: absolute;
    content: "";
    background: white;
    height: 2px;
    width: 30px;
    left: 0px;
    top: 23px;
    transition: 0.5s linear;
    /* transform: rotate(45deg); */
  }
  .navbar-toggler::before {
    position: absolute;
    content: "";
    background: white;
    height: 2px;
    width: 30px;
    left: 0px;
    bottom: 18px;
    transition: 0.5s linear;
    /* transform: translateY(50px) rotate(-45deg); */
  }

  .navbar-toggler.activeshow ~ .navbar-toggler-icon {
    transform: translateX(-20px);
    opacity: 0;
  }

  .navbar-toggler.activeshow::after {
    transform: rotate(45deg);
  }

  .navbar-toggler.activeshow::before {
    transform: translateY(50px) rotate(-45deg);
  }

  .aboutus-section .row .coloumn-2 {
    width: 100%;
    margin-top: 100px;
  }
  .aboutus-section .row .coloumn-1 {
    width: 100%;
    margin: 0 auto;
  }
  .aboutus-section .row {
    flex-direction: column;
  }

  .coloumn-2 .aboutus-cntn {
    text-align: center;
  }

  .aboutus-section .image2 {
    bottom: -46px;
    z-index: -1;
    left: 297px;
  }

  .aboutus-hdr {
    justify-content: center;
  }
}

@media (max-width: 2560px) {
  .image2 img {
    max-width: 250px;
  }
  .image1 img {
    max-width: 250px;
  }

  .booknow-area .booknow-cntn {
    max-width: 267px !important;
  }

  .aboutus-section .image2 {
    bottom: -46px;
    z-index: -1;
    left: 200px;
  }

  .aboutus-footer-img {
    position: absolute;
    right: 0;
    bottom: -186px;
  }
}
